/* Theming */

:root {
  --main_bg_color: rgb(16,22,29); 
  --main_txt_color: rgb(160, 162, 167);
  --link_color: rgb(122, 232, 255); 

  --radius: 4px;

  --navbar_color: var(--main_bg_color);
  --navbar_bottom_border_color: rgba(42, 42, 42, 0.624);
  --navbar_txt_color: #f2f2f2;

  --tablebar_color: rgb(0, 69, 144);
  --tablebar_txt_color: var(--main_txt_color);
  --table_border_color: #ccc;

  --checked_txt_color: rgb(77, 77, 77);
  --checked_checkbox_color: rgb(54, 191, 77);

  --fontweight: 300;
}

[data-theme="light"] {

  --main_bg_color: rgb(238, 238, 238); 
  --main_txt_color: rgb(41, 41, 41);
  --link_color: rgb(0, 186, 223); 

  --radius: 4px;

  --navbar_color: rgb(0, 36, 75);
  --navbar_bottom_border_color: rgba(42, 42, 42, 0.624);
  --navbar_txt_color: #cacaca;

  --tablebar_color: rgb(43, 121, 205);
  --tablebar_txt_color: white;
  --table_border_color: #a8a8a8;

  --checked_txt_color: rgb(142, 142, 142);
  --checked_checkbox_color: rgb(54, 191, 77);

  --fontweight: 400;
}

[data-theme="virustotal"] {
  
  --main_bg_color: rgb(40	46	62); 
  --main_txt_color: rgb(255	255	255);
  --link_color: rgb(141	169	243); 

  --radius: 4px;

  --navbar_color: var(--main_bg_color);
  --navbar_bottom_border_color: rgba(227, 227, 227, 0.624);
  --navbar_txt_color: var(--main_txt_color);

  --tablebar_color: rgb(51	58	76);
  --tablebar_txt_color: var(--main_txt_color);
  --table_border_color: rgba(255,255,255,0.15);

  --checked_txt_color: rgb(77, 77, 77);
  --checked_checkbox_color: rgb(54, 191, 77);

  --fontweight: 300;
}

/* #region Main HTML Sections*/

body {
  font-family: 'Roboto', 'nunito', Arial, sans-serif;
  font-weight: var(--fontweight);
  margin: 0;
  padding: 0;
  background-color: var(--main_bg_color);
  color: var(--main_txt_color);
}

a {
  color: var(--link_color);
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--tablebar_color);
  color: var(--tablebar_txt_color);
}


/* Below is required for rounding corners on main table, without double-wide border inside the table due
to border-collapse: collapse and border-radius > 0px not being compatible
*/

table tr th,
table tr td {
  border-right: 1px solid var(--table_border_color);
  border-bottom: 1px solid var(--table_border_color);
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid var(--table_border_color);
}
table tr th {
  text-align: left;
  border-top: solid 1px var(--table_border_color);
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: var(--radius);
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: var(--radius);
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius);
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius);
}



/* #endregion */

/* #region App Specific*/

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: var(--navbar_color);
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  height: 50px;
  border-bottom: 1px solid var(--navbar_bottom_border_color);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: var(--navbar_txt_color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change background on mouse-over */
.navbar a:hover {
  filter: brightness(50%);
}

/* #endregion */




[v-cloak]>* {
  display: none
}

[v-cloak]::before {
  content: "Loading…"
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--main_bg_color);
  padding: 20px;
  border-radius: 4px;
  width: 75%;
  height: 75%;
}

textarea {
  background-color: var(--main_bg_color);
  color: var(--main_txt_color);
  width: 100%;
  height: 70%;
  resize: none;
}

.markdown-container {
  height: 70%;
  overflow-y: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--main_bg_color);
  color: var(--main_txt_color);
  font-family: inherit;
}


.table-title {
  width: 30%;
}

.table-status {
  width: 15%;
}

.table-labels {
  width: 20%;
}

.table-date {
  width: 10%;
}

/* Status Elements */

.status-open {
  background-color: grey;
  color: white;
}

.status-in-progress {
  background-color: orange;
  color: white;
}

.status-completed,
.status-closed {
  background-color: green;
  color: white;
}



.task-list {
  list-style-type: none;
  padding-left: 20px;
}

/* Checkboxes */

input[type=checkbox]:not(:checked) + span {
  color: var(--main_txt_color);
}

input[type=checkbox]:checked  {
  accent-color: var(--checked_checkbox_color);
}

input[type=checkbox]:checked + span {
  color: var(--checked_txt_color);
}