<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>


<body>



<div class="row">
  <div class="column left">
    <ul class="leftnav">
    </ul>

  </div>
  <div class="column middle">


    <h1>Add Chapter</h1>
    <hr />


    <form action="" method="post">

        <input type = "hidden" name = "current_subsection_id" value = {{current_subsection_id}} />

        <p>
            <label for="title">Title</label>
            <input type="text" autocomplete="off" name="title" required>
        </p>

        <p>
            <label for="content">Content (Markdown):</label>
        </p>
        <p>
            <textarea name="content" style="width:100%" rows=25> </textarea>
        </p>

        <p>
            <input type="submit">
        </p>
    </form>



  </div>















  
  <div class="column right">
    <ul class="leftnav">

    </ul>
  </div>
</div>

</body>
</html>